.keyword-list {
    position: relative;
    top: 0;
    left: 0;
    height: 130px;
    width: 100%;
    overflow-x: auto;
}

.keyword-li {
    min-width: 120px;
    width: auto;
    max-width: 175px;
    max-width: 175px;
    text-align: center;
}
