.keyword-list {
    position: relative;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    overflow-x: auto;
}

.keyword-li {
    min-width: 120px;
    width: auto;
    max-width: 175px;
    max-width: 175px;
    text-align: center;
    max-height: 70px;
    border: 1px solid #adb5bd;
    border-radius: 5px;
}

.keyword-active{
    border: 3px solid #0B5ED7;
}

.button-pagination {
    width: 95px;
    height: 30px;
    position: relative;
    top: 30px;
    margin: 10px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
}

.button-pagination:hover{
    background-color: #0b5ed7;
    color: white;
}

.user-information {
    position: absolute;
    background-color: white;
    border: 1px solid #adb5bd;
    border-radius: 5px;
    width: 320px;
    height: 200px;
    padding: 1em;
    text-align: left;
}

.spanLabelUserInfo {
    font-weight: bold;
}

#btnClose{
    position: relative;
    left: 95%;
}

@media (max-width: 768px){
    .user-information {
      width: 230px;
      height: 280px;
      padding: .5em;
    }
    
    #btnClose{
        position: relative;
        left: 90%;
    }
  }