body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(to left, #2e5569, #163d74);
    background: linear-gradient(to left, #2e5569, #163d74);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.7em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 37px;
}

h1 {
    margin-top: 1em;
    font-size: 24px;
    color: #093c83;
    text-align: center;
}

p {
    color: #555;
    text-align: justify;
}

button {
    color: white;
    background: -webkit-linear-gradient(to left, #2e5569, #163d74);
    background: linear-gradient(to left, #2e5569, #163d74);
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    font-weight: 500;
}

button:hover {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}