body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #014094;
    line-height: 1.6;
}

ul {
    display: none;
}

input {
    border-radius: 7px;
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px;
}