{% load static %}
<div
    class="modal fade"
    id="create-client-modal"
    tabindex="-1"
    aria-labelledby="modal para agregar un cliente"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    <img
                        id="modal-img-title"
                        src="{% static 'clientes_app/img/cliente-agregar.svg' %}"
                    />
                    <span class="ms-2">Agregar un cliente</span>
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="row g-3"
                    method="POST"
                    id="create_client-form"
                >
                    {% csrf_token %} 

                    <div class="col-6">
                        <label
                            for="{{ create_client_form.first_name.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.first_name.label }}
                        </label>
                        {{ create_client_form.first_name }}
                        <span id="error_first_name" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label
                            for="{{ create_client_form.last_name.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.last_name.label }}
                        </label>
                        {{ create_client_form.last_name }}
                        <span id="error_last_name" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label
                            for="{{ create_client_form.email.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.email.label }}
                        </label>
                        {{ create_client_form.email }}
                        <span id="error_email" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label
                            for="{{ create_client_form.password.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.password.label }}
                        </label>
                        {{ create_client_form.password }}
                        <span id="error_password" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label
                            for="{{ create_client_form.address.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.address.label }}
                        </label>
                        {{ create_client_form.address }}
                        <span id="error_address" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label
                            for="{{ create_client_form.company.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.company.label }}
                        </label>
                        {{ create_client_form.company }}
                        <span id="error_company" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label
                            for="{{ create_client_form.date_birth.id_for_label }}"
                            class="form-label"
                        >
                            {{ create_client_form.date_birth.label }}
                        </label>
                        {{ create_client_form.date_birth }}
                        <span id="error_date_birth" class="text-danger"></span>
                    </div>

                    <div class="col-12 d-flex flex-column">
                        <button type="submit" class="btn btn-primary" id="create-client-submit-btn">
                            Agregar un cliente
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
