{% extends "base.html" %}
{% load static %}

{% block title %} 
    Usuarios: Global Nexus DC
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'usuarios_app/usuarios_app.css' %}" />
{% endblock css %}

{% block header %}
    <i class="bi bi-people-fill me-3"></i>Usuarios
{% endblock header %}

{% block opciones-arriba %}
    <div
    class="d-flex flex-column flex-sm-row justify-content-end align-items-center mt-3 mx-3 mx-lg-5"
    >
        <div class="d-flex flex-column flex-sm-row align-items-center">
            <button
                type="button"
                class="btn btn-danger p-2 mt-2 acciones-top"
                data-bs-toggle="modal"
                data-bs-target="#agregarUsuario"
            >
                <i class="bi bi-plus-square fs-6 me-1"></i>
                Usuario
            </button>
        </div>
    </div>            
{% endblock opciones-arriba %}

{% block tabla %}
    <div
    class="mx-3 mx-lg-5 mt-3 d-flex flex-column flex-lg-row justify-content-center align-items-center"
    >
        <div id="userTable" class="mt-0 ms-lg-3"></div>
    </div>            
{% endblock tabla %}

{% block modales %}
    <!-- Modal agregar usuario -->
    <div
        class="modal fade"
        id="agregarUsuario"
        tabindex="-1"
        aria-labelledby="modal agregar usuario"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <img src="{% static 'usuarios_app/usuarios-agregar.svg' %}" alt="imagen agregar usuario" />
                        <span class="ms-2">Agregar Usuario</span>
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" method="POST">
                        <div class="col-12">
                            <label for="inputNombre" class="form-label"
                                >Nombre</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputNombre"
                                required
                            />
                        </div>
                        <div class="col-12">
                            <label for="inputEmail" class="form-label"
                                >Email</label
                            >
                            <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                required
                            />
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label"
                                >Dirección</label
                            >
                            <textarea
                                id="inputAddress"
                                name="address"
                                rows="4"
                                cols="50"
                                class="form-control"
                                required
                            ></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmpresa" class="form-label"
                                >Empresa</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputEmpresa"
                                required
                            />
                        </div>
                        <div class="col-md-6">
                            <label
                                for="inputFechaNacimiento"
                                class="form-label"
                                >Fecha de Nacimiento</label
                            >
                            <input
                                type="date"
                                class="form-control"
                                id="inputFechaNacimiento"
                                required
                            />
                        </div>
                        <div class="col-12 d-flex flex-column">
                            <button type="submit" class="btn btn-primary">
                                Agregar Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock modales %}

{% block js-files%}
    <script>
        var usuarios = JSON.parse('{{ users|escapejs }}')
    </script>
    <script type="text/javascript" src="{% static 'usuarios_app/userTable.js' %}"></script>
{% endblock js-files%}
