{% extends "base.html" %}
{% load static %}

{% block title %} 
    Usuarios: Global Nexus DC
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'usuarios_app/css/usuarios_app.css' %}" />
{% endblock css %}

{% block header %}
    <i class="bi bi-people-fill me-3"></i>Usuarios
{% endblock header %}

{% block opciones-arriba %}
    <div
    class="d-flex flex-column flex-sm-row justify-content-end align-items-center mt-3 mx-3 mx-lg-5"
    >
        <div class="d-flex flex-column flex-sm-row align-items-center">
            <button
                id="btn-agregar-usuario"
                type="button"
                class="btn btn-danger p-2 mt-2 acciones-top"
                data-bs-toggle="modal"
                data-bs-target="#userModal"
            >
                <i class="bi bi-plus-square fs-6 me-1"></i>
                Usuario
            </button>
        </div>
    </div>            
{% endblock opciones-arriba %}

{% block tabla %}
    <div
    class="mx-3 mx-lg-5 mt-3 d-flex flex-column flex-lg-row justify-content-center align-items-center"
    >
        <div id="userTable" class="mt-0 ms-lg-3"></div>
    </div>            
{% endblock tabla %}

{% block modales %}
    <!-- Modal agregar usuario -->
    {% include 'user_form.html' %}
    {% include 'delete_user_modal.html' %}
{% endblock modales %}

{% block js-files%}
    <script>
        var usuarios = JSON.parse('{{ users|escapejs }}')
        var imgAgregarUsuario = "{% static 'usuarios_app/img/usuarios-agregar.svg' %}"
        var imgEditarUsuario = "{% static 'usuarios_app/img/usuarios-editar.svg' %}"
        var urlAgregarUsuario = "{% url 'create_user' %}"
        var urlUsers = "{% url 'users' %}"
        var modalMode = ""
    </script>
    <script type="text/javascript" src="{% static 'usuarios_app/js/userTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'usuarios_app/js/toggleFormMode.js' %}"></script>
    <script type="text/javascript" src="{% static 'usuarios_app/js/create_or_edit_user.js' %}" ></script>
    <script type="text/javascript" src="{% static 'usuarios_app/js/notifications.js' %}" ></script>
    <script type="text/javascript" src="{% static 'usuarios_app/js/deleteUser.js' %}" ></script>
{% endblock js-files%}
