{% extends "base.html" %}
{% load static %}

{% block title %} 
    Keywords: 
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'keywords_app/css/keywords.css' %}" />
{% endblock css %}

{% block header %}
    <i class="bi bi-key me-3"></i>Búsquedas
{% endblock header %}

{% block opciones-arriba %}
    <div
    class="d-flex flex-column flex-sm-row justify-content-between align-items-center mt-3 mx-3 mx-lg-5"
    >
        <div class="btn-group mx-0 mx-lg-2 p-0 p-lg-2" role="group" aria-label="Seleccionar keywords">
            {% if user.user_type == "ADMINISTRADOR" %}
                <input type="radio" class="btn-check" name="radioKeywords" id="my-keywords" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="my-keywords">Mis búsquedas</label>
                <input type="radio" class="btn-check" name="radioKeywords" id="usuario-keywords" autocomplete="off">
                <label class="btn btn-outline-primary" for="usuario-keywords">Usuarios</label>
                <input type="radio" class="btn-check" name="radioKeywords" id="cliente-keywords" autocomplete="off">
                <label class="btn btn-outline-primary" for="cliente-keywords">Clientes</label>
            {% endif %}
            {% if user.user_type == "USUARIO" %}
                <input type="radio" class="btn-check" name="radioKeywords" id="my-keywords" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="my-keywords">Mis búsquedas</label>
                <input type="radio" class="btn-check" name="radioKeywords" id="cliente-keywords" autocomplete="off">
                <label class="btn btn-outline-primary" for="cliente-keywords">Clientes</label>
            {% endif %}
        </div>
        <div class="mx-0 mx-lg-2 p-0 p-lg-2">
            <input type="text" id="search-keyword" placeholder="Buscar keywords" class="form-control">
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-center">
            <button
                id="btn-agregar-keyword"
                type="button"
                class="btn btn-danger p-2 mt-2 acciones-top"
                data-bs-toggle="modal"
                data-bs-target="#create-keyword-modal"
            >
                <i class="bi bi-plus-square fs-6 me-1"></i>
                Búsqueda
            </button>
        </div>
    </div>            
{% endblock opciones-arriba %}

{% block tabla %}
    <div
    class="mx-3 mx-lg-5 mt-3 d-flex flex-column flex-lg-row justify-content-center align-items-center"
    >
        <div id="keywordsTable" class="mt-0 ms-lg-3"></div>
    </div>            
{% endblock tabla %}

{% block modales %}
    {% include 'create_keyword.html' %}
    {% include 'edit_keyword_form.html' %}
    {% include 'delete_keyword.html' %}
    {% include 'search_terms.html' %}
    {% include 'user_information.html' %}
{% endblock modales %}

{% block js-files%}
    <script type="text/javascript" src="{% static 'keywords_app/js/getKeywordsByUserType.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/searchKeywords.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/keywordsTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/redirectButtons.js'%}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/createKeyword.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/editKeyword.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'keywords_app/js/deleteKeyword.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/getSearchTerms.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/getUserInformation.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/manageCheckboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/conditionsPopover.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/alignCheckboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/manipulateKeywordsUICreateModal.js' %}"></script>
    <script type="text/javascript" src="{% static 'keywords_app/js/manipulateKeywordsUIEditModal.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/notifications.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/getCSRFToken.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/fillForm.js' %}"></script>
{% endblock js-files%}
