{% load static %}
<div
    class="modal fade"
    id="search-terms-modal"
    tabindex="-1"
    aria-labelledby="Terminos de búsqueda"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    <img
                        id="modal-img-title"
                        src="{% static 'keywords_app/img/keyword-agregar.svg' %}"
                    />
                    <span class="ms-2" id="keyword-title"></span>
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div id="searchterms-container"></div>
                <strong>Resultados encontrados: </strong>
                <span id="count"></span>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
