{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock title%}COMPASS</title>
        <link
            rel="shortcut icon"
            href="{% static 'base/img/favicon.ico' %}"
            type="image/x-icon"
        />
        <link
            href="https://unpkg.com/tabulator-tables@5.5.1/dist/css/tabulator_semanticui.min.css"
            rel="stylesheet"
        />
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="{% static 'base/base.css' %}" />
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column">
            <div class="sidebar-top p-3">
                <picture data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Global Nexus DC">
                    <source
                        media="(min-width: 992px)"
                        srcset="{% static 'base/img/logo-gb-sidebar.png' %}"
                        class="img-fluid logo-lg"
                    />
                    <img
                        src="{% static 'base/img/favicon.ico' %}"
                        alt="icono global nexus"
                        class="img-fluid rounded-4 logo-sm"
                    />
                </picture>
                <hr class="text-white border-1 opacity-100" />
            </div>

            <ul class="sidebar-nav list-unstyled mt-4 mt-md-3" id="sidebar-nav">
                {% if user.user_type == "ADMINISTRADOR" %}
                    <li class="mx-2 mx-lg-3 menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Gestionar usuarios">
                        <a
                            href="{% url 'users' %}"
                            class="text-decoration-none text-white px-2"
                        >
                            <i class="bi bi-people-fill fs-3"></i>
                            <span class="ms-2 menu-item-span">Usuarios</span>
                        </a>
                    </li>
                {% endif %}
                {% if user.user_type == "ADMINISTRADOR" or user.user_type == "USUARIO"%}
                    <li class="m-2 m-lg-3 menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Gestionar clientes">
                        <a
                            href="{% url 'clients' %}"
                            class="text-decoration-none text-white px-2"
                        >
                            <i class="bi bi-people text-white fs-3"></i>
                            <span class="ms-2 menu-item-span">Clientes</span>
                        </a>
                    </li>
                {% endif %}
                <li class="m-2 m-lg-3 menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Gestionar búsquedas">
                    <a
                        href="{% url 'keywords' %}"
                        class="text-decoration-none text-white px-2"
                    >
                        <i class="bi bi-key text-white fs-3"></i>
                        <span class="ms-2 menu-item-span">Búsquedas</span>
                    </a>
                </li>
                <li class="m-2 m-lg-3 menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Resultados de búsqueda">
                    <a
                        href="{% url 'search_results' %}"
                        class="text-decoration-none text-white px-2"
                    >
                        <i class="bi bi-card-list text-white fs-3"></i>
                        <span class="ms-2 menu-item-span"
                            >Resultados de búsqueda</span
                        >
                    </a>
                </li>
            </ul>

            <div class="sidebar-footer p-3">
                {% if user.user_type == "CLIENTE" %}
                    <ul class="sidebar-nav list-unstyled mt-4 mt-md-3">
                        <li class="mt-2 menu-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Configurar frecuencia de emails">
                            <a
                                href=""
                                class="text-decoration-none text-white px-2"
                                data-bs-toggle="modal" 
                                data-bs-target="#config-emails"
                            >
                                <i class="bi bi-envelope text-white fs-3"></i>
                                <span class="ms-2 menu-item-span"
                                    >Configurar emails</span
                                >
                            </a>
                        </li>
                    </ul>
                {% endif %}
                <hr class="opacity-100 text-white" />
                <div
                    class="d-flex justify-content-center justify-content-lg-between"
                >
                    <div class="d-lg-flex flex-column profile">
                        <p class="m-0 text-white fw-bold">{{ user.user_type }}</p>
                        <p class="m-0 text-white">
                            {{ user.first_name }}
                            {{ user.last_name }}
                        </p>
                    </div>
                    <a href="{% url 'sign_out'%}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cerrar sesión">
                        <i class="bi bi-box-arrow-left text-white fs-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Contenido -->
        <div class="content d-flex flex-column">
            <header class="mt-3 mx-3 text-center">
                <h2 class="display-6 fw-medium">
                    {% block header %}
                    {% endblock header %}
                </h2>
            </header>

            {% block opciones-arriba %}
            {% endblock opciones-arriba %}

            {% block tabla%}
            {% endblock tabla%}

            {% block opciones-abajo %}
            {% endblock opciones-abajo %}

            <div id="notificationContainer" style="position: fixed; bottom: 50px; right: 50px; z-index: 9999;">
                {% if messages %}
                    <ul class="messages list-unstyled" id="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="alert alert-dismissible fade show {{ message.tags }}" {% endif %} role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
        {% if user.user_type == "CLIENTE" %}   
            <div class="modal fade" id="config-emails" tabindex="-1" aria-labelledby="Configurar frecuencia de emails" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Configurar frecuencia de emails</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'mail_frequency' %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-column">
                                <p class="px-4 mt-2 pt-2">
                                    Actualmente recibes emails <b>cada {{ user.mail_frequency }} días</b>
                                </p>
                                <p class="px-4">
                                    Seleccione la frecuencia de tiempo deseada para recibir emails de sus resultados de búsqueda:
                                </p> 
                            </div>                            
                            <div class="modal-body d-flex flex-column align-items-center justify-content-center">       
                                <div class="btn-group" role="group" aria-label="Frecuencia de mails">   
                                    <input type="radio" class="btn-check" value="1" name="frecuency-emails" id="daily" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="daily">Diario</label>

                                    <input type="radio" class="btn-check" value="7" name="frecuency-emails" id="weekly" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="weekly">Semanal</label>

                                    <input type="radio" class="btn-check" value="custom" name="frecuency-emails" id="custom-frequency" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="custom-frequency">Personalizado</label>                                    
                                </div>
                                <div class="mt-3 d-none" id="custom-frequency-container">
                                    <span class="me-2 pt-2">Cada</span>
                                    <input type="number" min="1" max="30" class="form-control"   id="custom-day-frequency" name="custom-day-frequency">
                                    <span class="ms-2 pt-2">días</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block modales %}
        {% endblock modales %}

        <script type="text/javascript" src="{% static 'base/js/base.js'%}"></script>
        <script
            type="text/javascript"
            src="https://unpkg.com/tabulator-tables@5.5.1/dist/js/tabulator.min.js"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js" integrity="sha256-7NQm0bhvDJKosL8d+6ZgSi2LxZCIcA/TD087GLEBO9M=" crossorigin="anonymous"></script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>        
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>
        <script type="text/javascript" src="{% static 'base/js/mailFrequency.js' %}"></script>

        {% block js-files%}
        {% endblock js-files%}
    </body>
</html>
